<ion-view hide-nav-bar="true">
  <ion-content>
    <div style="height: 40vh; width: 100%; background: url(img/img-me-background.jpg) no-repeat; background-size: 100% 100%;" align="center">
      <div style="width: 100%; height: 10vh;" class="toTop">
        <i class="ion-ios-arrow-left" style="font-size: 25px; margin-top: 2.5vh; color: white; float: left; margin-left: 2vw;" ng-click="backtoMe()"></i>
        <span style="font-size: 15px; color: white; float: left; margin-top: 3vh; margin-left: 1vw;" ng-click="backtoMe()">我</span>
        <!--<a class="button icon-left ion-ios-arrow-left button-clear button-dark" style="float: left; color: white;">我</a>-->
        <i class="ion-ios-more" style="font-size: 25px; float: right; color: white; margin-right: 8vw; margin-top: 3vh;"></i>
        <i class="ion-ios-search" style="font-size: 25px; float: right; color: white; margin-right: 8vw; margin-top: 3vh;"></i>
      </div>
      <div style="height: 12.5vh; width: 22.2vw;">
        <img src="img/image1.jpg" style="width: 100%; height: 100%; border-radius: 50%;"/>
      </div>
      <div style="margin-top: 1.5vh;">
        <span style="font-size: 18px; color: white;">米哦DV弄碰到麻烦</span>
        <!--<img src="img/ionic.png" style="width: 4vw;"/>-->
        <!--<img src="img/ionic.png" style="width: 4vw;"/>-->
      </div>
      <div style="margin-top: 1.5vh;">
        <span style="padding-right: 2vw; border-right: 1px solid white; color: white;">关注 224</span>
        <span style="padding-left: 1.5vw; color: white;">粉丝 151</span>
      </div>
      <div style="margin-top: 1.5vh;">
        <span style="font-size: 13px; color: white;">简介：健康的发挥-啊开始将发力时间罚款</span>
        <img src="img/ionic.png" style="width: 3vw;"/>
      </div>
    </div>
    <div style="background-color: #F2F2F2; height: 7.5vh; width: 100%; border-bottom: 1px solid #DFDFDF;" align="center">
      <div style="width: 60%; height: 100%;">
        <div style="width: 33.3%; height: 100%; float: left; padding-top: 2vh;">主页</div>
        <div style="width: 33.3%; height: 100%; float: left; padding-top: 2vh; border-bottom: 2px solid coral;">微博</div>
        <div style="width: 33.3%; height: 100%; float: left; padding-top: 2vh;">相册</div>
      </div>
    </div>
    <div style="height: 5.25vh; width: 100%; background-color: #F2F2F2; padding: 0.5vh 3vw;">
      <span style="font-size: 12px; color: gray;">全部微博(417)</span>
      <span style="font-size: 12px; color: #417AAD; float: right;">筛选</span>
      <i class="ion-navicon" style="font-size: 15px; color: #417AAD; float: right; margin-right: 0.5vw;"></i>
    </div>

    <div style="margin-top: 1.5vh;">
      <div style="height: 5.25vh; width: 100%; border-bottom: 1px solid #DFDFDF; border-top: 1px solid #DFDFDF;">
        <img src="img/ionic.png" style="width: 3vh; margin-left: 3vw; margin-top: 1vh; float: left;"/>
        <span style="margin-left: 1vw; float: left; margin-top: 0.8vh; color: #7C7C7C;">公开</span>
        <i class="ion-ios-arrow-down" style="font-size: 15px; float: right; margin-right: 3vw; margin-top: 1vh; color: #7C7C7C;"></i>
      </div>
      <div style="padding: 2vh;">
        <img src="img/image1.jpg" style="height: 6.25vh; float: left;"/>
        <div style="float: left; margin-left: 2vw;">
          <div style="font-size: 16px;">数据量大凤凰</div>
          <div style="font-size: 12px;">4-1 来自Android客户端</div>
        </div>
        <div style="height: 5vh; width: 17.7vw; background-color: #FEFEFE; float: right; border: 1px solid #EFEFEF;" align="center">
          <div style="color: #7C7C7C; font-size: 1px;">131</div>
          <div style="color: #7C7C7C; font-size: 1px;">阅读</div>
        </div>
      </div>
    </div>
    <!--<div style="background-color: cornsilk; height: 5vh;"></div>-->

  </ion-content>
</ion-view>

<style>
  .toTop {
    background-image:-webkit-linear-gradient(to top, transparent, gray);
    background-image:linear-gradient(to top,transparent,gray);
  }
  /*a:link{*/
    /*color: gray;*/
    /*text-decoration: none;*/
  /*}*/
  /*a:visited{*/
    /*color: #000;*/
    /*text-decoration: none;*/
  /*}*/
  /*a:hover{*/
    /*text-decoration: none;*/
  /*}*/
  /*a:active{*/
    /*text-decoration: none;*/
    /*border-bottom: 2px solid coral;*/
  /*}*/
</style>
